<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>RestApp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="afterRegister==false">
  <ion-list>
    <ion-item>
      <ion-label floating>Ad</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" outline></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email" outline></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Şifre</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" outline></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Şifre Tekrar</ion-label>
      <ion-input type="password" [(ngModel)]="password2" name="password2" outline></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full large (click)="register()">
        Kayıt
      </button>
    </ion-item>
    <ion-item *ngIf="mesaj!=''">
      {{mesaj}}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding *ngIf="afterRegister==true">
  <br>
  <br>
  <h6>Kaydınız Yapıldı. <br> Giriş sayfasına yönlendiriliyorsunuz...</h6>
</ion-content>